.form-outer {
    padding: 0px 18px;
}

.form-inner {
    padding: 24px;
}

.form-size {
    width: 100%;
}

.mat-form-field {
    display: block;
}

.card {
    width: 100%;
}

.card-header {
    color: whitesmoke;
    font-weight: 900;
    background-color: rgb(91, 179, 255);
}

.add-icon {
    font-size: 48px;
    float: right;
    color: #28a745;
}

.btn-section {
    padding: 8px;
    text-align: center;
}

.radio-pad {
    padding: 24px;
}

.file-upl {
    padding: 16px;
}

.update-btn {
    min-width: 160px;
    margin: 4px;
    background: #28a745;
}

.back-btn {
    min-width: 160px;
    margin: 4px;
    background: #495057;
}

.top-pad {
    padding-top: 12px;
}
.img-sect {
    text-align: center;
}

