

.text-muted {
    color: #ffffff !important;
    background-color: #495057;
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
}
.header-icon {
    font-size: 20px;
}

.main-sect {
    margin: auto;
    margin-top: 22%;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    color: brown;
    text-decoration: underline;
}
