.button-place {
    margin: auto;
    text-align: center;
}
mat-dialog-container {
    padding: 0px !important;
}
mat-card {
    margin-top: -8px;
    padding: 8px 0px !important;
}
mat-card-header {
    color: #212529;
    background-color: #fbe64f;
}
mat-card-actions {
    margin-bottom: none !important;
}

.mat-card>.mat-card-actions {
    margin-bottom: 8px !important;
}